# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/Pods/
ios/build/
android/app/build/
android/.gradle/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Environment
.env
.env.*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local
*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
tmp/
temp/
